# Partial export zip between two git commit
function gitexport() {
	git diff --name-only ${1} ${2} | xargs zip ${3}
}

# Create a new directory and enter it
function mkd() {
        mkdir -p "$@" && cd "$@"
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')"
}

# Create a git.io short URL
function gitio() {
	if [ -z "${1}" -o -z "${2}" ]; then
		echo "Usage: \`gitio slug url\`"
		return 1
	fi
	curl -i http://git.io/ -F "url=${2}" -F "code=${1}"
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh
	else
		local arg=-sh
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@"
	else
		du $arg .[^.]* *
	fi
}

# Create a data URL from a file
function dataurl() {
	local mimeType=$(file -b --mime-type "$1")
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8"
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')"
}

# Start a PHP server from a directory, optionally specifying the port
# (Requires PHP 5.4.0+.)
function phpserver() {
	local port="${1:-4000}"
	local ip=$(ipconfig getifaddr en1)
	sleep 1 && open "http://${ip}:${port}/" &
	php -S "${ip}:${port}"
}

# Worklogs journal 
function worklog() {
	if [ ! -f ~/worklogs/worklog_$(date +%y-%m-%d).log ]; then
		touch ~/worklogs/worklog_$(date +%y-%m-%d).log
	fi

	if [ $# -ne 1 ]; then
		vi ~/worklogs/worklog_$(date +%y-%m-%d).log
	else
		echo $1 >> ~/worklogs/worklog_$(date +%y-%m-%d).log
	fi
}
